In [31]:
import pandas as pd
import numpy as np
import math
import dtale
from datetime import datetime, timedelta

In [32]:
data = pd.read_csv('./DMs/TH_SB11_2012_1x.csv', low_memory=False)

In [33]:
data.shape

(45390, 22)

In [42]:
data.describe

method

In [23]:
data.to_csv('./DMs/TH_SB11_2012_1x.csv', index = False)

In [14]:
count = 0
levels = 6
level = ["A-", "A1", "A2", "B1", "B2", "C1", "C2"]

for l in range(levels):
    levels -= 1
    grades = 15
    print("levels", l, "level", level[l])
    for g in range(grades):
        print("levels", l, " grades", g)
        grades -= 1
        count += 1

print(count)

levels 0 level A-
levels 0  grades 0
levels 0  grades 1
levels 0  grades 2
levels 0  grades 3
levels 0  grades 4
levels 0  grades 5
levels 0  grades 6
levels 0  grades 7
levels 0  grades 8
levels 0  grades 9
levels 0  grades 10
levels 0  grades 11
levels 0  grades 12
levels 0  grades 13
levels 0  grades 14
levels 1 level A1
levels 1  grades 0
levels 1  grades 1
levels 1  grades 2
levels 1  grades 3
levels 1  grades 4
levels 1  grades 5
levels 1  grades 6
levels 1  grades 7
levels 1  grades 8
levels 1  grades 9
levels 1  grades 10
levels 1  grades 11
levels 1  grades 12
levels 1  grades 13
levels 1  grades 14
levels 2 level A2
levels 2  grades 0
levels 2  grades 1
levels 2  grades 2
levels 2  grades 3
levels 2  grades 4
levels 2  grades 5
levels 2  grades 6
levels 2  grades 7
levels 2  grades 8
levels 2  grades 9
levels 2  grades 10
levels 2  grades 11
levels 2  grades 12
levels 2  grades 13
levels 2  grades 14
levels 3 level B1
levels 3  grades 0
levels 3  grades 1
levels 3  grades 2
levels 3  grades 3
levels 3  grades 4
levels 3  grades 5
levels 3  grades 6
levels 3  grades 7
levels 3  grades 8
levels 3  grades 9
levels 3  grades 10
levels 3  grades 11
levels 3  grades 12
levels 3  grades 13
levels 3  grades 14
levels 4 level B2
levels 4  grades 0
levels 4  grades 1
levels 4  grades 2
levels 4  grades 3
levels 4  grades 4
levels 4  grades 5
levels 4  grades 6
levels 4  grades 7
levels 4  grades 8
levels 4  grades 9
levels 4  grades 10
levels 4  grades 11
levels 4  grades 12
levels 4  grades 13
levels 4  grades 14
levels 5 level C1
levels 5  grades 0
levels 5  grades 1
levels 5  grades 2
levels 5  grades 3
levels 5  grades 4
levels 5  grades 5
levels 5  grades 6
levels 5  grades 7
levels 5  grades 8
levels 5  grades 9
levels 5  grades 10
levels 5  grades 11
levels 5  grades 12
levels 5  grades 13
levels 5  grades 14
90

In [35]:
data['DESEMP_INGLES'] = "1"
data

,ESTU_TIPO_DOCUMENTO,ESTU_PAIS_RESIDE,ESTU_GENERO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,FECHA_ANO,EDAD,ESTU_COD_RESIDE_MCPIO,...,COLE_NOMBRE_SEDE,COLE_CALENDARIO,COLE_GENERO,COLE_NATURALEZA,COLE_BILINGUE,COLE_CARACTER,PUNT_MATEMATICAS,PUNT_INGLES,DESEMP_INGLES,ESTU_PUESTO
0,C,CO,M,25.0,8.0,1992.0,19,NaN,NaN,5837.0,...,I.E. VEINTICUATRO DE DICIEMBRE,A,X,O,NaN,ACADEMICO,37,40,1,961
1,C,CO,M,5.0,7.0,1970.0,41,NaN,NaN,5837.0,...,I.E. VEINTICUATRO DE DICIEMBRE,A,X,O,NaN,ACADEMICO,37,37,1,989
2,R,CO,F,3.0,1.0,1994.0,18,NaN,NaN,5837.0,...,I.E. VEINTICUATRO DE DICIEMBRE,A,X,O,NaN,ACADEMICO,34,33,1,905
3,C,CO,M,5.0,9.0,1974.0,37,NaN,NaN,5837.0,...,INSTITUTO CORFERRINI,F,X,N,NaN,ACADEMICO,47,47,1,600
4,C,CO,F,9.0,5.0,1972.0,39,NaN,NaN,5837.0,...,INSTITUTO CORFERRINI,F,X,N,NaN,ACADEMICO,40,40,1,651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45385,T,CO,F,27.0,12.0,1994.0,17,NaN,NaN,50001.0,...,INSTITUTO JORGE ISAACS,F,X,N,0.0,ACADEMICO,33,39,1,787
45386,C,CO,M,11.0,1.0,1990.0,22,11/01/1990,0.0,76109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,43,39,1,868
45387,C,CO,M,12.0,8.0,1977.0,34,NaN,NaN,19130.0,...,NaN,NaN,NaN,NaN,NaN,NaN,8,14,1,997
45388,E,NaN,F,20.0,1.0,1991.0,21,NaN,NaN,11001.0,...,NaN,NaN,NaN,NaN,NaN,NaN,37,53,1,859
45389,C,CO,M,19.0,9.0,1985.0,26,NaN,NaN,73001.0,...,NaN,NaN,NaN,NaN,NaN,NaN,49,43,1,562

In [67]:
data.to_csv('./DMs/TH_SB11_2012_1x.csv', index = False)

In [68]:
data = pd.read_csv('./DMs/TH_SB11_2012_1x.csv', low_memory=False)
data['DESEMP_INGLES'] = "1"

In [69]:
data.loc[(data['PUNT_INGLES'] >= 0) & (data['PUNT_INGLES'] <= 15), 'DESEMP_INGLES'] = 'A-'
data.loc[(data['PUNT_INGLES'] >= 16) & (data['PUNT_INGLES'] <= 30), 'DESEMP_INGLES'] = 'A1'
data.loc[(data['PUNT_INGLES'] >= 31) & (data['PUNT_INGLES'] <= 45), 'DESEMP_INGLES'] = 'A2'
data.loc[(data['PUNT_INGLES'] >= 46) & (data['PUNT_INGLES'] <= 60), 'DESEMP_INGLES'] = 'B1'
data.loc[(data['PUNT_INGLES'] >= 61) & (data['PUNT_INGLES'] <= 75), 'DESEMP_INGLES'] = 'B2'
data.loc[(data['PUNT_INGLES'] >= 76) & (data['PUNT_INGLES'] <= 90), 'DESEMP_INGLES'] = 'C1'
data.loc[(data['PUNT_INGLES'] >= 91) & (data['PUNT_INGLES'] <= 100), 'DESEMP_INGLES'] = 'C2'

In [70]:
data.to_csv('./DMs/TH_SB11_2012_1x.csv', index = False)

In [71]:
data

,ESTU_TIPO_DOCUMENTO,ESTU_PAIS_RESIDE,ESTU_GENERO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,FECHA_ANO,EDAD,ESTU_COD_RESIDE_MCPIO,...,COLE_NOMBRE_SEDE,COLE_CALENDARIO,COLE_GENERO,COLE_NATURALEZA,COLE_BILINGUE,COLE_CARACTER,PUNT_MATEMATICAS,PUNT_INGLES,DESEMP_INGLES,ESTU_PUESTO
0,C,CO,M,25.0,8.0,1992.0,19,NaN,NaN,5837.0,...,I.E. VEINTICUATRO DE DICIEMBRE,A,X,O,NaN,ACADEMICO,37,40,A2,961
1,C,CO,M,5.0,7.0,1970.0,41,NaN,NaN,5837.0,...,I.E. VEINTICUATRO DE DICIEMBRE,A,X,O,NaN,ACADEMICO,37,37,A2,989
2,R,CO,F,3.0,1.0,1994.0,18,NaN,NaN,5837.0,...,I.E. VEINTICUATRO DE DICIEMBRE,A,X,O,NaN,ACADEMICO,34,33,A2,905
3,C,CO,M,5.0,9.0,1974.0,37,NaN,NaN,5837.0,...,INSTITUTO CORFERRINI,F,X,N,NaN,ACADEMICO,47,47,B1,600
4,C,CO,F,9.0,5.0,1972.0,39,NaN,NaN,5837.0,...,INSTITUTO CORFERRINI,F,X,N,NaN,ACADEMICO,40,40,A2,651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45385,T,CO,F,27.0,12.0,1994.0,17,NaN,NaN,50001.0,...,INSTITUTO JORGE ISAACS,F,X,N,0.0,ACADEMICO,33,39,A2,787
45386,C,CO,M,11.0,1.0,1990.0,22,11/01/1990,0.0,76109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,43,39,A2,868
45387,C,CO,M,12.0,8.0,1977.0,34,NaN,NaN,19130.0,...,NaN,NaN,NaN,NaN,NaN,NaN,8,14,A-,997
45388,E,NaN,F,20.0,1.0,1991.0,21,NaN,NaN,11001.0,...,NaN,NaN,NaN,NaN,NaN,NaN,37,53,B1,859
45389,C,CO,M,19.0,9.0,1985.0,26,NaN,NaN,73001.0,...,NaN,NaN,NaN,NaN,NaN,NaN,49,43,A2,562

In [76]:
data = pd.read_csv('./DMs/TH_SB11_2012_1x.csv', low_memory=False)
data['aux'] = 0
data.loc[data['PUNT_MATEMATICAS'] > 100, 'PUNT_MATEMATICAS'] = 100
data.to_csv('./DMs/TH_SB11_2012_1x.csv', index = False)

In [78]:
data

,ESTU_TIPO_DOCUMENTO,ESTU_PAIS_RESIDE,ESTU_GENERO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,FECHA_ANO,EDAD,ESTU_COD_RESIDE_MCPIO,...,COLE_CALENDARIO,COLE_GENERO,COLE_NATURALEZA,COLE_BILINGUE,COLE_CARACTER,PUNT_MATEMATICAS,PUNT_INGLES,DESEMP_INGLES,ESTU_PUESTO,aux
0,C,CO,M,25.0,8.0,1992.0,19,NaN,NaN,5837.0,...,A,X,O,NaN,ACADEMICO,37,40,A-,961,0
1,C,CO,M,5.0,7.0,1970.0,41,NaN,NaN,5837.0,...,A,X,O,NaN,ACADEMICO,37,37,A-,989,0
2,R,CO,F,3.0,1.0,1994.0,18,NaN,NaN,5837.0,...,A,X,O,NaN,ACADEMICO,34,33,A-,905,0
3,C,CO,M,5.0,9.0,1974.0,37,NaN,NaN,5837.0,...,F,X,N,NaN,ACADEMICO,47,47,A1,600,0
4,C,CO,F,9.0,5.0,1972.0,39,NaN,NaN,5837.0,...,F,X,N,NaN,ACADEMICO,40,40,A-,651,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45385,T,CO,F,27.0,12.0,1994.0,17,NaN,NaN,50001.0,...,F,X,N,0.0,ACADEMICO,33,39,A-,787,0
45386,C,CO,M,11.0,1.0,1990.0,22,11/01/1990,0.0,76109.0,...,NaN,NaN,NaN,NaN,NaN,43,39,A-,868,0
45387,C,CO,M,12.0,8.0,1977.0,34,NaN,NaN,19130.0,...,NaN,NaN,NaN,NaN,NaN,8,14,A-,997,0
45388,E,NaN,F,20.0,1.0,1991.0,21,NaN,NaN,11001.0,...,NaN,NaN,NaN,NaN,NaN,37,53,A2,859,0
45389,C,CO,M,19.0,9.0,1985.0,26,NaN,NaN,73001.0,...,NaN,NaN,NaN,NaN,NaN,49,43,A-,562,0