In [9]:
import pandas as pd
import numpy as np
import math
import dtale
from datetime import datetime, timedelta

In [10]:
data = pd.read_csv('./DMs/TH_SB11_2012_1.csv', low_memory=False)

In [17]:
data.shape

(45390, 22)

In [18]:
data

,ESTU_TIPO_DOCUMENTO,ESTU_PAIS_RESIDE,ESTU_GENERO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,FECHA_ANO,EDAD,ESTU_COD_RESIDE_MCPIO,...,COLE_NOMBRE_SEDE,COLE_CALENDARIO,COLE_GENERO,COLE_NATURALEZA,COLE_BILINGUE,COLE_CARACTER,PUNT_MATEMATICAS,PUNT_INGLES,DESEMP_INGLES,ESTU_PUESTO
0,C,CO,M,25.0,8.0,1992.0,19,NaN,NaN,5837.0,...,I.E. VEINTICUATRO DE DICIEMBRE,A,X,O,NaN,ACADEMICO,37,40,A-,961
1,C,CO,M,5.0,7.0,1970.0,41,NaN,NaN,5837.0,...,I.E. VEINTICUATRO DE DICIEMBRE,A,X,O,NaN,ACADEMICO,37,37,A-,989
2,R,CO,F,3.0,1.0,1994.0,18,NaN,NaN,5837.0,...,I.E. VEINTICUATRO DE DICIEMBRE,A,X,O,NaN,ACADEMICO,34,33,A-,905
3,C,CO,M,5.0,9.0,1974.0,37,NaN,NaN,5837.0,...,INSTITUTO CORFERRINI,F,X,N,NaN,ACADEMICO,47,47,A1,600
4,C,CO,F,9.0,5.0,1972.0,39,NaN,NaN,5837.0,...,INSTITUTO CORFERRINI,F,X,N,NaN,ACADEMICO,40,40,A-,651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45385,T,CO,F,27.0,12.0,1994.0,17,NaN,NaN,50001.0,...,INSTITUTO JORGE ISAACS,F,X,N,0.0,ACADEMICO,33,39,A-,787
45386,C,CO,M,11.0,1.0,1990.0,22,11/01/1990,0.0,76109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,43,39,A-,868
45387,C,CO,M,12.0,8.0,1977.0,34,NaN,NaN,19130.0,...,NaN,NaN,NaN,NaN,NaN,NaN,8,14,A-,997
45388,E,NaN,F,20.0,1.0,1991.0,21,NaN,NaN,11001.0,...,NaN,NaN,NaN,NaN,NaN,NaN,37,53,A2,859
45389,C,CO,M,19.0,9.0,1985.0,26,NaN,NaN,73001.0,...,NaN,NaN,NaN,NaN,NaN,NaN,49,43,A-,562

In [13]:
data.to_csv('./DMs/TH_SB11_2012_1.csv', index = False)

In [19]:
data['COLE_NATURALEZA']

0          O
1          O
2          O
3          N
4          N
        ...
45385      N
45386    NaN
45387    NaN
45388    NaN
45389    NaN
Name: COLE_NATURALEZA, Length: 45390, dtype: object